/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar li{
    display: inline-block;
    list-style: none;
}

:root{
    --light-dark: #080B12;
    --black:#000000;
    --main-color:#141922;
    --footer-color:#282828;
    --header-width: 50px;
}
/* 
    GENERAL
*/
html {
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: var(--black);
}

.header-container{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: var(--header-width);
    width: calc(100% - 200px);
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.footer-container{
    background-color: var(--footer-color);
    height: 80px;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
}

.container {
    height: 100vh;
    display: flex;
}

.upgrade-button{
    background-color: var(--black);
    color: white;
    padding: 10px 35px;
    border: 1px solid white;
    border-radius: 20px;
    text-decoration: none;
    margin-right: 20px;
    font-size: .8em;
}

.small-upgrade-button{
    display:none;
}

.add{
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 30px;
    line-height: 20px;
    background-color: gray;
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin-right: 10px;
}

.add-playlist{
    display:flex;
    align-items: center;
}



/* ASIDE BAR */

aside{
    background-color: var(--black);
    width: 200px;
    height: calc(100vh - 80px);
    min-height: 350px;
    color: grey;
    z-index: 2;
    position: fixed;
    left: 0;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.big-aside-top{
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */

}

.small-aside-bar{
    display: none;
}

.logo-container{
    height: var(--header-width);
    display: flex;
    align-items: center;
}

.logo-container img{
    width: 60%;
}

.aside-menu{
    display: flex;
    align-items: center;
    position: relative;
}
.aside-nav-img{
    width: 20px;
    height: 20px;

}

.aside-nav-img img{
    width: 100%;
}

.border-left{
    height: 100%;
    width: 5px;
    background-color: #ADFF2F;
    position: absolute;
    left: -16px;
    top: 0;
    z-index: 4;
    border-radius: 3px;
}

.aside-nav-img.circle{
    border-radius: 50%;
    background-color: #808080;
    overflow: hidden;
}

.aside-nav-img.small{
    width: 15px;
    height: 15px;
    padding-bottom: 15px;
}

.big-aside-bar .aside-menu a{
    font-weight: bold;
    font-size: .85em;  
    margin-left: 10px; 
    color: #808080;
    text-decoration: none;
}

.big-aside-bar h5{
    font-weight: bold;
    color: white;
}

.aside-nav-bar > *,
.aside-playlist > h5,
.aside-playlist a,
.aside-playlist li,
.aside-menu{
    padding: 5px 0;
}


.aside-playlist{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* max-height: 260px; */
    overflow: hidden;
}

.aside-playlist ul{
    flex-grow: 1;
    overflow-y: auto;
}

/* ------------------------------------------------ */
.aside-nav-bar .aside-menu:first-child p{
    color: white;
}
/* -------------------------------------------------- */

.big-aside-bottom .aside-menu:first-child {
    border-bottom: 1px solid #7D7F84;
}

.big-aside-bottom .aside-menu:last-child p{
    color: white;
}

.aside-playlist a:not(.add){
    text-decoration: none;
    color: #808080;
    font-size: .8em;
    font-weight: bold;
}

.aside-playlist li{
    list-style: none;
 }


 .aside-menu p{
    margin-left: 5px;
 }

/* MAIN */

.main-container{
    width: calc(100% - 200px);
    margin-left: 200px;
    background-color: var(--main-color);
    margin-bottom: 80px;
    overflow: auto;
    padding: 50px 15px 0;
}

.nav-bar{
    text-align: center;
}
.nav-bar a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: lightgray;
    font-size: .8em;
    font-weight: bold;
    color: #7D7F84;
    padding: 10px;
    text-decoration: none;
}

.border-bottom{
    width: 40%;
    height: 2px;
    background-color: #ADFF2F;
    position: absolute;
    left: 30%;
    bottom: 0;

}
.nav-bar > ul > li:first-child{
   position: relative;
}

nav > *{
    padding: 10px;
}

.my-row{
    display: flex;
    flex-wrap: wrap;
}

.songs, .for-you{
    width: calc((100% / 6) - 10px);
    min-height: 150px;
    margin: 0 5px;
}

#recently h1{
    color: white;
    padding: 30px 0;
}

.songs img{
    width: 100%;
}

.songs-img{
    position:relative;
}

.songs-img > .start{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    display:none;
}

.start i{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.songs-description{
    text-align: center;
    
}

.songs-description p{
    color: #7D7F84;
    font-weight: bold;
    font-size: .8em;
    
}

#generated h1,
#popular h1{
    color: white;
    padding-top: 30px;
    padding-bottom: 8px;
}

.for-you-img img{
    width: 100%;
}

.for-you h2,
.songs-description h2{
    text-align: center;
    color: white;
    padding: 10px 0;
    font-size: 1em;
    font-weight: bold;
}

.radius{
    border-radius: 50%;
}

#generated > p,
#popular > p{
    color: #7D7F84;
    font-weight: bold;
    padding-bottom: 25px;
    font-size: .8em;
}

/* FOOTER */

.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

.footer-left{
    display:flex;
    align-items: center;
    width: 25%;
}

.footer-left-song{
    padding: 0 10px;
}

.footer-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 25%;
}

.footer-center{
    width: 50%;
}


.footer-left-icons > i{
    padding: 0 5px;
    color: grey;
}

.footer-left-song > h5{
    font-size: 0.8em;
}

.footer-left-song > p{
    font-size: 0.7em;
}

.footer-center{
    text-align: center;
}

.footer-img{
    width: 50px;
    height: 50px;
}

.footer-img img{
    width: 100%;
}

.footer-play i{
    padding:5px 10px;
}

.footer-play a{
    color: white;
    text-decoration: none;
}

.footer-play-bar{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.footer-play-bar small{
    padding: 0 10px;
}

.progress{
    width: 60%;
    display: flex;
    align-items: center;
    
     
}

.time1{
    border: 1px solid grey;
    width: 100%;
    
}

.time2{
    width: 25%;
    border: 1px solid white;
    position: relative;
    
}

.footer-right-icons{
    width: 50%;
    text-align: right;
}

.footer-right-icons > *{
    padding: 0 5px;
}

.volume1{
    border: 1px solid grey;
    width: 50%;
}

.volume2{
    width: 25%;
    border: 1px solid white;
    position: relative;
}

.green-ball{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ADFF2F;
    position: absolute;
    right: -5px;
    top:-5px;
    display: none;

}


/* ---------------------------

EFFETTI ON HOVER

-----------------------------*/

.upgrade-button:hover{
    font-size: .9em;
}

.nav-bar > ul > li a:hover{
    color: white;
}

.aside-menu > a:hover{
    color: white;
    pointer-events: painted;
}

.aside-playlist a:hover{
    color: white;
}

.aside-playlist .add-playlist:hover a{
    color: white;
}

.big-aside-bottom p:hover{
    color: white;
}

.footer-container i:hover{
    color: white;
}

.footer-play .button-play:hover{
    font-size: 2.1em;
}

.progress:hover .green-ball{
    display: block;
}

.volume1:hover .green-ball{
    display: block;
}

.songs:hover .start{
    display: block;
}

.footer-left-icons > .fa-heart:active{
    color: red;
}

.small-aside-bar i:hover{
    color: white;
}

.nav-bar li a:hover .border-bottom{
    boder:1
}






/* MEDIA QUERY */

/* -------------
    PRIMO BREAKPOINT MEDIUM
------------- */

@media screen and (max-width: 1100px){
    .songs, .for-you{
        width: calc((100% / 4) - 10px);
    }
}

/* -------------
    SECONDO BREAKPOINT SMALL
------------- */

@media screen and (max-width: 700px){
    .songs, .for-you{
        width: calc((100% / 2) - 10px);
    }
}

/* -------------
    TERZO BREAKPOINT EXTRA SMALL
------------- */

@media screen and (max-width: 600px){
    aside{
        width: 50px;
    }

    .main-container{
        width: calc(100% - 50px);
        margin-left: 50px;
        
    }

    .big-aside-bar{
        display:none;
    }

    .main-container{
        width: calc(100% - 50px);
    }

    .small-aside-bar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .small-aside-top img{
        width: 100%;
    }

    .small-aside-top > *,
    .small-aside-bottom > *{
        padding: 10px 0;
    }
}

/* MEDIA QUERY BONUS */

@media screen and (max-width:420px) {
    /* .footer-play > *:not(.button-play){
        display: none;
    } */

    .footer-left > *:not(.footer-img){
        display:none;
    }

    .footer-right-icons{
        display: none;
    }

    .footer-img{
        width: 75%;
    }

    .songs, .for-you{
        width: calc(100% - 10px);
    }

    .upgrade-button{
        display: none;
    }

    .small-upgrade-button{
        display:block;
    }

    nav > *{
        padding:0;
    }

    .footer-play a:first-child,
    .footer-play a:last-child{
        display: none;
    
}
    .header-container{
        width: calc(100% - 50px);
    }

}